# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# System files
*.DS_Store
Thumbs.db

__pycache__/
.streamlit/
.venv/
node_modules/
dist/

*/.env
*.pyc
.ruff_cache

backend/__init__.py
backend/app/datasets/
backend/app/protected_datasets/
backend/app/images/
backend/app/logs/
backend/app/MagicMock/
backend/app/models/
backend/important_stuff.txt

frontend/coverage/

deploy_to_server.txt
capstone.zip

# Windows WSL
.python-version

capstone.zip
deploy_to_server.txt
Capstone_REPORT_CS.html
Capstone_REPORT_FINAL_DS.html
Capstone_REPORT_DS.html
